node_modules
.cargo
.vscode
.next


# redis cache

dump.rdb

*.out
*.log

.local.rs

.DS_Store

# Added by cargo

/target

*.json
!*.example.json
!package.json

flamegraph.svg

packages/vjudge/data/*

.env

.claude
.idea
*.wasm

.kilocode/*
docs/*
plans/*


.expand.*.rs

packages/**/*/*.md
!packages/**/*/README.md
packages/api_declare/src/interface/*
packages/frontend/src/api/client/*
packages/frontend/src/api/server/*