[package]
edition = "2024"
name = "rmjac_core"
version = "0.0.0"

[lib]

[dependencies]
chrono = "0.4.41"
derive_more = { version = "2.0.1", features = ["full"] }
lazy_static = "1.5.0"
log = "0.4.27"
sea-orm = { version = "1.0.0-rc.5", features = [ "sqlx-postgres", "sqlx-sqlite", "macros" ] }
serde = { version = "1.0.219", features = ["derive", "serde_derive"] }
serde_json = "1.0.140"
macro_db_init = { path = "../macro_db_init" }
macro_node_iden = { path = "../macro_node_iden" }
macro_perm = { path = "../macro_perm" }
macro_socket_auth = { path = "../macro_socket_auth" }
tokio = "1.45.1"
sha2 = "0.10.9"
base16ct = { version = "0.2.0", features = ["alloc"] }
uuid = { version = "1.17.0", features = ["v4"] }
enum_const = "0.1.1"
tap = "1.0.1"
strum_macros = "0.27.1"
strum = "0.27.1"
redis = "0.32.2"
async-recursion = "1.1.1"
queue = "0.3.1"
deno_core = "0.353.0"
socketioxide = "0.17.2"
totp-rs = { version = "5.7.0", features = ["steam"]}
axum = "0.8.4"
tower-http = { version = "0.6.6", features = ["cors"] }
pgp = "0.16.0"
priority-queue = "2.7.0"
rand = "0.9.2"
html2typst = "0.0.1"
regex = "1.12.2"
enum_dispatch = "0.3.13"
ts-rs = "11.1"
paste = "1.0"

[dependencies.sea-orm-migration]
version = "1.0.0-rc.5"
features = [
    "runtime-tokio-rustls",
    "sqlx-postgres",
    "sqlx-sqlite",
]
